<div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> LIST SERVICE".html_safe, 
  new_service_path, class: 'my-button-blue',
  style: 'position:relative; left: 583px; top: -38px; z-index: 12;' %>
</div>