<div class="row">
  <div class="span9 pull-right">
    <% if current_user %>
    <div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD SERVICE".html_safe, new_service_path, class: 'my-button-blue',
    style: 'position:relative; left: 583px; top: -38px; z-index: 12;' %></div>
    <% end %>
    <%= render 'services/sharing_buttons' %>
    <%= render 'services/service_full' %>
    <br>
  </div>
</div>