.row
  .span3
    = render 'shared/sidebar/image_tagline1'
  .span9{style: "margin-bottom: 10px;"}
    %h2.underline-header about us
    %br
    .row
      .span1{style: "width:20px;"}
        %i.icon-quote-left.bigger.silver
      .span8{style: "width:660px;"}
        %p Many providers and researchers in the life sciences industries are frustrated with the expensive outsourcing platforms currently in existence. There is an inability to collaborate and communicate openly. Expensive and unnecessary fees are added to the quoted services, as much as 15% of the research cost, ultimately hurting the amount of money being spent towards scientific research. We aim to change all of that.
    %br
    .row
      .span9
        %h5 BitBio is an open science forum and marketplace for sharing and collaboration, a resource for high quality content, and a community of life scientists and service providers.
