.row
  .span9.offset3{style: "margin-bottom: 10px;"}
    %h2.underline-header About Us
%br
.row
  .span1.offset3{style: "width:20px;"}
    %i.icon-quote-left.bigger.silver
  .span8{style: "width:660px;"}
    %p Many providers and researchers in the life sciences industries are frustrated with the expensive outsourcing platforms currently in existence. There is an inability to collaborate and communicate openly. Expensive and unnecessary fees are often added to the quoted services, as much as 15% of the research cost, ultimately hurting the amount of money being spent towards scientific research. We aim to change all of that.
    %p -- Peter Jabbour, Founder
%br
.row
  .span9.offset3
    %h5 BitBio is an open marketplace for sharing and collaboration, a resource for high quality content, and a community of life scientists and service providers.
