<div class="row">
  <div class="span12"><h1 class="center">Terms of Service</h1></div>
</div>
<br>
<div class="row">
  <div class="span10 offset1">
    <p>
      <strong>Last Updated Date:</strong> 1/23/2014
    </p>
    <p>
      BitBio, Inc. (“<strong>BitBio</strong>” or “<strong>we</strong>”) provides an online platform (the “<strong>Services</strong>”) through our website, accessible at www.bitbio.org (the “<strong>Site</strong>”).   Please read carefully the following terms and conditions (“<strong>Terms</strong>”) and <%= link_to "privacy policy", privacy_path %>.  These Terms govern your access to and use of the Site, Services and Collective Content (defined below), and constitute a binding legal agreement between you and BitBio.
    </p>
    <br>
    <h3>Key Content-related Terms</h3>
    <br>
    <p>
      “<strong>Content</strong>” means text, graphics, images, music, software, audio, video, information or other materials.
    </p>
    <p>
      “<strong>BitBio Content</strong>” means Content that BitBio makes available through the Site or Services, including any Content licensed from a third party, but excluding Member Content.
    </p>
    <p>
      “<strong>Member</strong>” means a person who completes BitBio’s account registration process, as described under the “Account Registration” section below.
    </p>
    <p>
      “<strong>Member Content</strong>” means Content that a Member posts, uploads, publishes, submits or transmits to be made available through the Site or Services.
    </p>
    <p>
      “<strong>Collective Content</strong>” means, collectively, BitBio Content and Member Content.
    </p>
    <br>
    <p>
      Certain areas of the Site (and your access to or use of certain Services or Collective Content) may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions.  If there is a conflict between these Terms and terms and conditions posted for a specific area of the Site, Services or Collective Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Services or Collective Content, as applicable.
    </p>
    <p>
      YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING OR USING THE SITE OR SERVICES, OR BY DOWNLOADING OR POSTING ANY CONTENT FROM OR ON THE SITE OR THROUGH THE SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, AND THAT YOU UNDERSTAND AND AGREE TO BE BOUND BY, THESE TERMS, WHETHER OR NOT YOU HAVE REGISTERED ON OR THROUGH THE SITE.  IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE, SERVICES OR COLLECTIVE CONTENT.  If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, “you” and “your” will refer and apply to that company or other legal entity.
    </p>
    <br>
    <h3>Modification</h3>
    <br>
    <p>
      BitBio reserves the right, at its sole discretion, to modify, discontinue or terminate the Site or Services or to modify these Terms, at any time and without prior notice.  If we modify these Terms we will post the modification on the Site or provide you with notice of the modification.  We will also update the “Last Updated Date” at the top of these Terms.  By continuing to access or use the Site or Services after we have posted a modification on the Site or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms.  If the modified Terms are not acceptable to you, your only recourse is to cease using the Site and Services.
    </p>
    <br>
    <h3>Eligibility</h3>
    <br>
    <p>
      The Site and Services are intended solely for persons who are 18 or older.  Any access to or use of the Site or Services by anyone under 18 is expressly prohibited.  By accessing or using the Site or Services you represent and warrant that you are 18 or older.
    </p>
    <br>
    <h3>Using BitBio</h3>
    <br>
    <p>
      Via the Site and Services, Members can utilize the tools made available by BitBio as a resource for premium content and an online forum to post science experiments or services with other Members. Members may represent an organization, service provider, lab, company, or individual.<br><br>
      
      Members can create profiles, design projects for collaboration, service outsourcing, science outsourcing, reference, or community feedback. All of the communication by or between Members should refrain from the use of profanity or soliciting services.<br><br>
      
      You may never use another Member’s account without permission. When creating your account, you must provide accurate and complete information. You are responsible for the activity that occurs on your account, and you must keep your account password secure. We will not be liable for any losses caused by any unauthorized use of your account.
      
    </p>
    <br>
    <h3>Account Registration</h3>
    <br>
    <p>
      In order to access certain features of the Site and Services and to post any Member Content on the Site or through the Services you must register to create an account (“<strong>Account</strong>”) and become a Member. You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete.  BitBio reserves the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete.  You are responsible for safeguarding your password.  You agree that you will not disclose your password to any third party and that you will take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions.  You will immediately notify BitBio of any unauthorized use of your Account.
    </p>
    <br>
    <h3>Account Information and Payment Terms</h3>
    <br>
    <p>
      BitBio makes certain features of the Services available without charge.  However, if you choose to utilize any paid features of the Services, you authorize BitBio or its third party payment processor to charge your method of payment in the amount of any paid features of the Services that you choose to utilize.  More information related to paid features of the Services is accessible by contacting us at info@bitbio.org. In connection with such paid features, when you register for an Account, you may be required to provide customary billing information such as name and billing address.  You agree to pay the applicable fees and any taxes and other fees that may accrue in relation to your use of the Site and Services, if any.  All fees are non-refundable and non-transferable except as expressly provided in these Terms.  All fees and applicable taxes, if any, are payable in United States dollars.
    </p>
    <br>
    <h3>Privacy</h3>
    <br>
    <p>
      See BitBio’s <%= link_to 'privacy policy', privacy_path %> for information and notices concerning BitBio’s collection and use of your personal information.
    </p>
    <br>
    <h3>Ownership</h3>
    <br>
    <p>
      The Site, Services and Collective Content are protected by copyright, trademark, and other laws of the United States and foreign countries.  You acknowledge and agree that the Site, Services and BitBio Content, including all associated intellectual property rights, are the exclusive property of BitBio and its licensors.  You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Services or Collective Content.
    </p>
    <br>
    <h3>Licenses Granted by BitBio to BitBio Content and Member Content</h3>
    <br>
    <p>
      Subject to your compliance with the terms and conditions of these Terms, BitBio grants you a limited, non-exclusive, non-transferable license: (i) to view, download and print any BitBio Content solely for your personal and non-commercial purposes; and (ii) a to view any Member Content of other Members to which you are permitted access solely for your internal purposes.  You have no right to sublicense the license rights granted in this section.<br><br>
      You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Site, Services or Collective Content, except as expressly permitted in these Terms.  No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by BitBio or its licensors, except for the licenses and rights expressly granted in these Terms.
    </p>
    <br>
    <h3>License granted by Member</h3>
    <br>
    <p>
      We may, in our sole discretion, permit Members to post, upload, publish, submit or transmit Member Content.  By making available any Member Content on or through the Site or Services, you hereby grant to BitBio a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, view, copy, adapt, transfer, publicly display, publicly perform, transmit, stream, broadcast and otherwise exploit such Member Content only on, through or by means of the Site or Services and only in the course of providing the Site and Services.,   BitBio does not claim any ownership rights in any Member Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit any Member Content.<br><br>
      You acknowledge and agree that you are solely responsible for all Member Content that you make available through the Site or Services.  Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all Member Content that you make available through the Site or Services or you have all rights, licenses, consents and releases that are necessary to grant to BitBio and to the rights in such Member Content, as contemplated under these Terms; and (ii) neither the Member Content nor your posting, uploading, publication, submission or transmittal of the Member Content or BitBio’s use of the Member Content (or any portion thereof) on, through or by means of the Site or Services will infringe, misappropriate or violate a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
    </p>
    <br>
    <h3>Feedback</h3>
    <br>
    <p>
      We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site or Services (“<strong>Feedback</strong>”).  You may submit Feedback by emailing us at <a href="mailto:info@bitbio.org" title="info@bitbio.org">info@bitbio.org</a>.  You acknowledge and agree that if you submit any Feedback to us, you hereby grant to us a non-exclusive, worldwide, perpetual, irrevocable, fully-paid, royalty-free, sub-licensable and transferable license under any and all intellectual property rights that you own or control to use, copy, modify, create derivative works based upon and otherwise exploit the Feedback for any purpose.
    </p>
    <br>
    <h3>General Prohibitions</h3>
    <br>
    <dt>You agree not to do any of the following:</dt>
    <ul>
      <li>
        Post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any person or entity; or (vii) promotes illegal or harmful activities or substances;
      </li>
      <li>
        Use, display, mirror or frame the Site, or any individual element within the Site or Services, BitBio’s name, any BitBio trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without BitBio’s express written consent;
      </li>
      <li>
        Access, tamper with, or use non-public areas of the Site, BitBio’s computer systems, or the technical delivery systems of BitBio’s providers;
      </li>
      <li>
        Attempt to probe, scan, or test the vulnerability of any BitBio system or network or breach any security or authentication measures;
      </li>
      <li>
        Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by BitBio or any of BitBio’s providers or any other third party (including another user) to protect the Site, Services or Collective Content;
      </li>
      <li>
        Attempt to access or search the Site, Services or Collective Content or download Collective Content from the Site or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by BitBio or other generally available third party web browsers;
      </li>
      <li>
        Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
      </li>
      <li>
        Use any meta tags or other hidden text or metadata utilizing a BitBio trademark, logo URL or product name without BitBio’s express written consent;
      </li>
      <li>
        Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services or Collective Content to send altered, deceptive or false source-identifying information;
      </li>
      <li>
        Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services or Collective Content;
      </li>
      <li>
        Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site or Services;
      </li>
      <li>
        Collect or store any personally identifiable information from the Site or Services from other users of the Site or Services without their express permission;
      </li>
      <li>
        Impersonate or misrepresent your affiliation with any person or entity;
      </li>
      <li>
        Violate any applicable law or regulation;
      </li>
      <li>
        Use the identity of any third party; or
      </li>
      <li>
        Encourage or enable any other individual to do any of the foregoing.
      </li>
    </ul>
    <p>
      BitBio will have the right to investigate violations of any of the above to the fullest extent of the law.  BitBio may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms.  You acknowledge that BitBio has no obligation to monitor your access to or use of the Site, Services or Collective Content or to review or edit any Collective Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body.  BitBio reserves the right, at any time and without prior notice, to remove or disable access to any Collective Content that BitBio, at its sole discretion, considers to be in violation of these Terms or otherwise harmful to the Site or Services.
    </p>
    <br>
    <h3>Copyright Policy</h3>
    <br>
    <p>
      BitBio respects copyright law and expects its users to do the same.  It is BitBio’s policy to terminate in appropriate circumstances Members or other account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.
    </p>
    <br>
    <h3>Links</h3>
    <br>
    <p>
      The Site or Services may contain links to third-party websites or resources.  You acknowledge and agree that BitBio is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources.  Links to such websites or resources do not imply any endorsement by BitBio of such websites or resources or the content, products, or services available from such websites or resources.  You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources or the Content, products, or services on or available from such websites or resources.
    </p>
    <br>
    <h3>Termination and Account Cancellation</h3>
    <br>
    <p>
      If you breach any of these Terms, BitBio will have the right to suspend or disable your Account or terminate these Terms, at its sole discretion and without prior notice to you.  BitBio reserves the right to revoke your access to and use of the Site, Services and Collective Content at any time, with or without cause.  In the event BitBio terminates these Terms for your breach, you will remain liable for all amounts due hereunder.  You may cancel your Account at any time by sending an email to <a href="mailto:info@bitbio.org?subject=Cancellation%20Request" title="info@bitbio.org">info@bitbio.org</a>.
    </p>
    <br>
    <h3>Disclaimers</h3>
    <br>
    <p>
      THE SITE, SERVICES AND COLLECTIVE CONTENT ARE PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED.  WITHOUT LIMITING THE FOREGOING, BITBIO EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. BITBIO MAKES NO WARRANTY THAT THE SITE, SERVICES OR COLLECTIVE CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS.  BITBIO MAKES NO WARRANTY REGARDING THE QUALITY OF ANY PRODUCTS, SERVICES OR COLLECTIVE CONTENT PURCHASED OR OBTAINED THROUGH THE SITE OR SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY CONTENT OBTAINED THROUGH THE SITE OR SERVICES. BITBIO DISCLAIMS ANY AND ALL LIABILITY RELATED TO INTERACTIONS WITH OR ACTIONS OF ANY NEUTRALS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM BITBIO OR THROUGH THE SITE, SERVICES OR COLLECTIVE CONTENT, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE AND SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES.  YOU UNDERSTAND THAT BITBIO DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF THE SITE OR SERVICES, NOR DOES BITBIO MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF USERS OF THE SITE OR SERVICES.  BITBIO MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OF THE SITE OR SERVICES OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USERS OF THE SITE OR SERVICES.  YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE AND SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.
    </p>
    <br>
    <h3>Indemnity</h3>
    <br>
    <p>
      You agree to defend, indemnify, and hold BitBio, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of the Site, Services or Collective Content, or your violation of these Terms.
    </p>
    <br>
    <h3>Limitation of Liability</h3>
    <br>
    <p>
      YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE SITE, SERVICES AND COLLECTIVE CONTENT REMAINS WITH YOU.  NEITHER BitBio NOR ANY OTHER person or entity involved in creating, producing, or delivering the Site, Services or Collective Content will be liable for any incidental, special, exemplary or consequential damages, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS arising out of or in connection with these TERMS or from the use OF or inability to use the Site, Services or Collective Content, [OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER USERS OF the SITE OR SERVICES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES whether based on warranty, contract, tort (including negligence), PRODUCT LIABILITY or any other legal theory, and whether or not BITBIO has been informed of the possibility of such damage, EVEN IF A limited REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. In no event will BitBio’s aggregate liability arising out of or in connection with THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SITE, SERVICES OR COLLECTIVE CONTENT, INCLUDING INTERACTIONS WITH OR ACTIONS OF ANY NEUTRALS, EXCEED THE AMOUNTS YOU HAVE PAID TO BITBIO FOR USE OF THE SITE, SERVICES OR COLLECTIVE CONTENT IN THE TWELVE (12) MONTH PERIOD PRIOR TO THE CLAIM GIVING RISE TO LIABILITY, IF YOU HAVE MADE ANY PAYMENTS TO BITBIO, OR ONE HUNDRED DOLLARS ($100), IF YOU HAVE NOT MADE ANY PAYMENTS TO BITBIO, AS APPLICABLE.  THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN BITBIO AND YOU.  SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
    </p>
    <br>
    <h3>Proprietary Rights Notices</h3>
    <br>
    <p>
      All trademarks, service marks, logos, trade names and any other proprietary designations of BitBio used herein are trademarks or registered trademarks of BitBio.  Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.
    </p>
    <br>
    <h3>Controlling Law and Jurisdiction</h3>
    <br>
    <p>
      These Terms and any action related thereto will be governed by the laws of the State of Illinois without regard to its conflict of laws provisions.  The exclusive jurisdiction and venue of any action to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights will be the state and federal courts located in the Northern District of Illinois and each of the parties hereto waives any objection to jurisdiction and venue in such courts.
    </p>
    <br>
    <h3>Entire Agreement</h3>
    <br>
    <p>
      These Terms constitute the entire and exclusive understanding and agreement between BitBio and you regarding the Site, Services and Collective Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between BitBio and you regarding the Site, Services and Collective Content.
    </p>
    <br>
    <h3>Assignment</h3>
    <br>
    <p>
      You may not assign or transfer these Terms, by operation of law or otherwise, without BitBio’s prior written consent.  Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect.  BitBio may assign or transfer these Terms, at its sole discretion, without restriction.  Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.
    </p>
    <br>
    <h3>Notices</h3>
    <br>
    <p>
      Any notices or other communications permitted or required hereunder, including those regarding modifications to these Terms, will be in writing and given: (i) by BitBio via email (in each case to the address that you provide); or (ii) by posting to the Site.  For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
    </p>
    <br>
    <h3>Dispute Resolution</h3>
    <br>
    <p>
      You and BitBio agree that <em>any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof or the use of the Site or Services (collectively, “<strong>Disputes</strong>”) will be settled by binding arbitration, except that each party retains the right to bring an individual action in small claims court and the right to seek</em> injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights.  <strong><em>You acknowledge and agree that you and BitBio</em> are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding.</strong>  Further, unless both you and BitBio otherwise agree in writing, the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of any class or representative proceeding.  If this specific paragraph is held unenforceable, then the entirety of this “Dispute Resolution” section will be deemed void.  Except as provided in the preceding sentence, this “Dispute Resolution” section will survive any termination of these Terms.<br><br>
      <span style="text-decoration:underline;">Changes</span>.  Notwithstanding the provisions of the “Modification” section above, if BitBio changes this “Dispute Resolution” section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by sending us written notice (including by email to <a href="mailto:info@bitbio.org" title="info@bitbio.org">info@bitbio.org</a>) within 30 days of the date such change became effective, as indicated in the “Last Updated Date” above or in the date of BitBio’s email to you notifying you of such change.  By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and BitBio in accordance with the provisions of this “Dispute Resolution” section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).
    </p>
    <br>
    <h3>General</h3>
    <br>
    <p>
      The failure of BitBio to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision.  The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of BitBio.  Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.  If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
    </p>
    <br>
    <h3>Contacting BitBio</h3>
    <br>
    <p>
      If you have any questions about these Terms, please contact BitBio at:<br>
      <a href="mailto:info@bitbio.org" title="info@bitbio.org">info@bitbio.org</a>
    </p>
    <p>
      <strong>
        3049 W Fullerton Ave, #1<br>
        Chicago, IL 60647
      </strong>
    </p>

  </div>
</div>
