<%= form_tag do %>
<div class="row">
	<div class="span5 offset1">
	  <h2>Please Sign In</h2>  
    <hr>
		<div class="row">
			<div class="span2">
				<label>Email:</label>
			</div>
			<div class="span3 pull-right">
				<%= text_field_tag :email, params[:email], class: "span3" %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<label class="inline">Password:</label>
			</div>
			<div class="span3 pull-right">
				<%= password_field_tag :password, params[:password], class: "span3" %>
			</div>
		</div>
			<hr>
			<div>
				<%= submit_tag 'Login', class: "btn btn-large pull-right" %>
	    </div>
	<% end %>
	</div>
</div>