<div class="row">
  <div class="span9 blogs-shell">
    <h2 class="info_header">
      Featured Blog Posts
    </h2>
    <div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD BLOG".html_safe, '#', class: 'my-button-blue add-blog-button' %></div>
    <% blogs.each do |blog| %>
      <%= render 'blogs/blog', blog: blog %>
    <% end %>
  </div>
</div>