
<% if @blogs && @blogs.any? %>
  <div class="row">
    <div class="span9 pull-right">
      <%= render 'tags/tag_list_blogs' %>
    <% @blogs.each do |blog| %>
      <%= render 'blogs/blog_list_item', blog: blog %>
    <% end %>
    <div class="row"><div class="span9"><%= will_paginate @blogs %></div></div>
    </div>
  </div>
  <hr>
<% elsif @blogs.empty? %>
  <div class="row">
    <div class="span9 pull-right">
      <hr>
        <p style="text-align:center;"><em>***No blogs matched your search. Please check back another time or 
        sign up for <%= link_to 'project alert emails', '#' %>.***</em></p>
      <hr>
    </div>
  </div>
<% end %>
