= link_to @invitation.user.full_name, user_url(@invitation.user)
is inviting you to join BitBio's Science Community, Forum, and Resource

= link_to "Join BitBio", root_url + "?invite_token=#{@invitation.user.invite_token}", class: "btn"

= @invitation.message