Dear Life Scientist,

We're pleased to announce #{link_to "BitBio", root_url} - Your Science Marketplace, Community, and Resource. Please sign up and share this resource with other life scientists and service providers.

Unlike other online science marketplaces that charge between 5-20% of a service offering, there is no such markup using BitBio. Any fees a provider endures will only be associated with typical sales and advertisement costs, so the money spent on scientific services never comes from your science budget.

HOW IT WORKS

1. <strong>Make it official.</strong> #{link_to "Join", root_url} the BitBio community and complete your personal profile to let other life scientists and potential collaborators know more about your research interests and goals.

2. <strong>Create a project.</strong> Design research projects to connect with service providers, collaborators, or the scientific community.

3. <strong>Share your expertise.</strong> Write a blog post, add an event you are hosting, or add your facility to get on the map!

4. <strong>Search research projects.</strong> Whether you are a service provider, researcher, or interested in collaboration, search the marketplace for projects that fit your scientific expertise or interests.

5. <strong>Discover.</strong> Find new technologies, methods, or techniques you had not considered. Connect with researchers or organizations that interest you.

= link_to "Get Started!", root_path, class: "btn"