%tr
  %td{style: "padding-top:20px"}
    Hello #{@user.first_name.titleize},
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    Thank you for signing up to be notified of our launch! We're pleased to announce #{link_to "BitBio", root_url} - Your Science Community, Forum, and Resource. Please sign up and share this resource with other life scientists and service providers.
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    Unlike other online science marketplaces that charge between 5-20% of a service offering, there is no such markup using BitBio. Any fees a provider endures will only be associated with typical sales and advertisement costs, so the money spent on scientific services never comes from your science budget.
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    %h2 HOW IT WORKS
%tr
  %td{style: "padding-top:0px; padding-right:10px"}
    1. <strong>Make it official.</strong> #{link_to "Join", root_url} the BitBio community and complete your personal profile to let other life scientists and potential collaborators know more about your research interests and goals.
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    2. <strong>Create a project.</strong> Design research projects to connect with service providers, collaborators, or the scientific community.
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    3. <strong>Share your expertise.</strong> Write a blog post, add an event you are hosting, or add your facility to get on the map!
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    4. <strong>Search research projects.</strong> Whether you are a service provider, researcher, or interested in collaboration, search the forum for projects that fit your scientific expertise or interests.
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    5. <strong>Discover.</strong> Find new technologies, methods, or techniques you had not considered. Connect with researchers or organizations that interest you.
%tr
  %td{style: "padding-top:20px; padding-right:10px"}
    = link_to "Get Started!", root_path, class: "btn"
  