<h3 style="border-bottom: 1px solid black; margin-bottom: 10px;">Comments</h3>
<% if current_user && current_user.verified?  %>
  <% unless @comments.empty? %>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% end %>
<% end %>