<div class="alert alert-block my-alert" style="margin-bottom: 10px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="inline">No projects matched your search.</h4>
   <p class="inline"><small>Please check back later or subscribe to receive <%= link_to 'project alert emails', user_settings_path(current_user) %>.</small></p>
</div>