<div class="alert alert-block my-alert" style="margin-bottom: 10px; margin-top: 10px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>No projects matched your search.</h4>
   Please check back another time or sign up for <%= link_to 'project alert emails', '#' %>.
</div>