<div class="alert alert-block my-alert-green" style="margin-bottom: 10px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="inline">Results: <%= pluralize(@projects.count, 'project') %>.</h4>
   <p class="inline"><span style="font-size: 83%">Sign up for <%= link_to 'project alert emails', '#' %> 
     to be alerted when a new project matches your services.</span>
   </p>
</div>