<div style="height: 0px;">
  <div id="search-results">
    <h4 class="inline blue" style="margin:0px;"><%= pluralize(@projects.count, 'project') %> found.</h4>
     <p class="inline" style="margin:0px;"><span style="font-size: 83%"><%= link_to 'Sign up for project alert emails', '#' %>.</span>
     </p>
  </div>
</div>
