<div class="alert alert-block my-alert" style="margin-bottom: 10px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Notice!</h4>
  You must be signed in to create or search science listings. Please 
  <a href="#signupModal" data-toggle="modal">sign up</a>
  or
  <a href="#loginModal" data-toggle="modal" class="loginlink">sign in</a>.
</div>
