<div id="conncetions" class="smaller-shell">
  <h2 class="info_header" style="margin-bottom: 10px;">Connections (4)</h2>
  <%= image_tag 'blank_avatar.jpg', size: '40x40' %>
  <%= image_tag 'blank_avatar.jpg', size: '40x40' %>
  <%= image_tag 'blank_avatar.jpg', size: '40x40' %>
  <%= image_tag 'blank_avatar.jpg', size: '40x40' %>
</div>