.smaller-image-shell
  .no-height
    .div{style: "padding:25px 15px 15px 15px;"}
      .center
        %h2.no-margin.white{style: "position:relative; z-index:3;"}
          Submit
          %br
          %i.icon-arrow-down
          %br
          Connect
          %br
          %i.icon-arrow-down
          %br
          Research Goals
  = image_tag "lab_bench3.jpg"
