<div class="span3 user-well">
  <ul class="unstyled">
    <li>
      <% if user.researcher? %>
        <i class="icon-user pull-right"></i> 
      <% elsif user.provider? %>
        <i class="icon-home pull-right"></i> 
      <% end %>
      <%= link_to truncate(user.full_name, length: 34), user_path(user) %>
    </li>
    <li><%= truncate(user.organization, length: 30) %></li>
    <li><%= truncate(user.country, length: 34) %></li>
  </ul>
  <p><strong>Bio:</strong> <%= truncate(user.bio, length: 120) %></p>
</div>