.row
  .span3
    = link_to "&#8592; back".html_safe, @user
  .span9{style: "margin-bottom: 10px;"}
    %h2.underline-header connections
.row
  .span9.offset3
    - @all_connections.each do |user|
      = render "list_item", user: user
    = will_paginate @all_connections 