<div class="row">
  <div class="span9">
    <h2><%= action_name.include?("researcher") ? "Researchers" : "Providers" %></h2>
  </div>
</div>
<div class="span9">
  <% if @users.empty? %>
    <h4><em>None. Please sign up <%= link_to 'here', new_user_path %>.</em></h4>
  <% else %>
    <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  <% end %>
</div>