<div class="row">
  <div class="span12">
    <h1><%= action_name.include?("researcher") ? "Researchers" : "Providers" %></h1>
  </div>
</div>
<div class="span12">
  <% @users.each do |user| %>
    <%= render 'user', user: user %>
  <% end %>
</div>