<% unless action_name == "coming_soon" || controller_name == "contacts" %>
  <% flash.each do |name, msg| %>
     <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
 	     <a class="close" data-dismiss="alert">×</a>
 	     <%= msg %>
     </div>
	<% end %>
<% end %>
