<div class="row">
  <div class="span12">
    <h2 style="margin-bottom:5px; margin-top:0px;">What is bitBIO?</h2>
    <p>
      An online <strong class="gold">science community</strong> and resource built by you, for you. If 
      you are outsourcing science, searching for service providers, collaborating on a research project,
      or looking for assistance, bitBIO is for you.
    </p>
    <p>
      Gain instant <strong class="gold">access</strong> to new resources, providers, and equipment 
      you may have otherwise not found, and easily exchange science with research institutes, hospitals, universities,
      and other service providers, globally.
    </p>
    <p>
      Find out what scientific methods other researchers or service providers are using. 
      <strong class="gold">Search for projects</strong> to exchange science advice, opinions, and services. 
    </p>
    <p>
      Learn about new research, methods, and technologies to use for your project and what the science 
      market has to offer. Quickly <strong class="gold">promote research</strong> questions and answers 
      in the science community to help each other.
    </p>
  </div>
</div>
<hr>

<div class="row" style="margin-top: 10px;">
  <div class="span12 taglines">
    <h1 style="padding-left: 10px;"><i class="icon-user"></i> Researchers</h1>
    <div class="one_two_three">
      <h4>1. List project(s).</h4>
      <h3>2. Promote and share project(s) with the science community. Search for services.</h3>
      <h2>3. Get feedback, collaborate, and find scientific services.</h2>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span12 taglines">
    <h1 style="padding-left: 10px;"><i class="icon-home"></i> Service Providers</h1>
    <div class="one_two_three">
      <h4>1. List service(s).</h4>
      <h3>2. Discuss possibilities, alternative methods, and service offerings. Search for projects.</h3>
      <h2>3. Connect with research projects and researchers.</h2>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span12">
    <p>
      Why rely on expensive services to broker your science project when all you really need is 
      access, exposure, and some help from the science community. 
      <a href="#signupModal" data-toggle="modal">join</a> bitBIO and exchange science projects!
    </p>
    <hr>
  </div>
</div>