.span9.bigger-shell.pull-right
  %h2.info_header_2{style: "margin-bottom:0px; color: white;"}
    %a.white-link{"data-toggle" => "modal", :href => "#signupModal"} Sign up
    for free access to science listings, premium content, and more!