<div class="row">
  <div class="span9 bigger-shell">
    <h2 class="info_header">
      What do you need?
    </h2>
    <div style="height: 0px;"><%= link_to "SEARCH SERVICES <i class='icon-arrow-right'></i>".html_safe, '#', class: 'my-button-blue add-services-button' %></div>
      <div style="height: 0px;"><%= link_to "SEARCH PROJECTS <i class='icon-arrow-right'></i>".html_safe, '#', class: 'my-button-blue add-projects-button' %></div>
    <%= image_tag 'science_types_word_cloud.png' %>
  </div>
</div>