.span9.bigger-shell.pull-right.word-cloud{:style => "padding-bottom: 30px;padding-top:20px;"}
  .row
    .span3
      .center
        = link_to new_project_path, class: "home-link" do
          %h2
            %i.icon-list-alt.bigger
          .step List Research Projects
    .span3
      .center
        = link_to projects_path, class: "home-link" do
          %h2
            %i.icon-search
          .step Search and Find Projects
    .span3{style: "margin-left:18px;"}
      .center
        = link_to new_project_path, class: "home-link" do
          %h2
            %i.icon-group
          .step Collaborate
        