<div class="span9 pull-right bigger-shell-silver">
  <h2 class="info_header" style="margin-bottom:0px;">
    Upcoming Events
  </h2>
  <% if current_user %>
    <div style="height: 0px;"><%= link_to "<i class='icon-plus'></i> ADD EVENT".html_safe, new_event_path, 
                class: 'my-button-red add-event-button' %></div>
  <% end %>
  <% events.each do |event| %>
    <%= render 'events/event_list_item', event: event %>
  <% end %>
</div>
