<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "Science Community, Science Market, and Science Outsourcing") %>
  <% end %>
  <% content_for :description do %>
    <%= t("application.root.description") %>
  <% end %>
<% end %>


<div class="row">
  <div class="span9">
    <% if @projects && !@projects.empty? %>
      <% @projects.each do |project| %>
        <%= render 'project', project: project %>
      <% end %>
    <% else %>
      <h3><em>n/a</em></h3>
    <% end %>
  </div>
</div>
<%= will_paginate %>

