
<div class="row">
  <div class="span9">
    <% if @projects %>
      <% @projects.each do |project| %>
        <%= render 'project', project: project %>
      <% end %>
    <% else %>
      <h3>No projects found.</h3>
    <% end %>
  </div>
</div>

