.row
  .span9.offset3.bigger-shell
    %h2.info_header What you should know about the BitBio marketplace:
    .small-padding
      %ul.unstyled
        %li
          %i.icon-check
          Please include as much information needed so interested service providers, researchers, or collaborators can effective understand the scope of your research
        %li
          %i.icon-check
          Projects may be removed at any time or change restriction levels so your project is only viewed by who you specify.
        %hr
        %li
          .smaller BitBio does not allow the use of solicitation of any outside services
      %br
      = link_to "Start", new_project_path, class: "btn btn-large"
      %br
