.row
  .span3
    = render 'shared/sidebar/image_project_tagline'
  .span9.bigger-shell
    %h2.info_header
      Congrats on taking your first step towards submitting a project!
    .small-padding
      %ul.unstyled
        %li
          %i.icon-check
          Connect with 1000's of researchers and service providers worldwide!
        %br
        %li
          %i.icon-check
          Gain insight from colleagues, connect with interested service providers, or find collaborators to fuel your research project!
        %br
        %li
          %i.icon-check
          Include detailed information so interested service providers, researchers, or collaborators can effectively understand your research goals.
        %br
        %li
          %i.icon-check
          Specify who can view your project in your visibility settings.
        %hr
        %li.smaller BitBio does not allow the use of solicitation of any outside services.
      %br
      = link_to "Begin <i class='icon-arrow-right' style='padding-left:5px'></i>".html_safe, new_project_path, class: "btn btn-large btn-info"
      %br
