<% if !ENV['STAGING'].present? || Rails.env.development? %>
  <% content_for :title do %>
    <%= t('application.root.title_with_tag_line', tag_line: "Tags") %>
  <% end %>
  <% content_for :description do %>
    Search for scientific services or projects by tags.
  <% end %>
<% end %>

<div class="row">
  <div class="span9 pull-right">
    <h2>Blog tags</h2>
    <i class="icon-tags"></i>:
    <%= raw Tag.top_blog_tags.map { |t| link_to "#{t.name} (#{t.blogs.size})", tag_blogs_path(t.name) }.join(', ') %>
  </div>
</div>
