@import "bootstrap";

/* COLORS */

$darkergrey: #B2B2B2;
$header_background: #686868;
$blue: #78A8E9;
$gold: #C5C91A;
$gold_dark: #AEB218;
$green_very_light: #D8FFD5;
$green_light: #6DF45F;
$green: #5DCE4F;
$green_dark: #469D3D;
$silver: #C0C0C0;

/* MIXINS */

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}

/* Universal */

body {
  min-height: 600px;
}

h2 {
  color: $gold_dark;
}

#main_container {
  margin-left: 190px;
}

#logo {
  height: 80px;
}

.inline {
  display: inline;
}

/* shared/sidebar */

#sidebar {
  position: absolute;
  top: 80px;
  left: 0%;
  background: $silver;
  margin: 0px;
  height: 100%;
  width: 220px;
}

/* projects/index */

.project-well {
  background: $green_very_light;
  width: 210px;
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 0px;
  @include rounded_border;
  h3 {
    font-size: 1.0em;
    line-height: 130%;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 0.9em;
  }
  p {
    background: white;
    margin-top: 10px;
    padding: 5px;
    @include rounded_border;
  }
}

/* projects/new */

#projects_new, #projects_create, #projects_edit, #projects_update {
  h2 {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  p {
    font-size: 80%;
    color: $darkergrey;
  }
  label {
    display: inline;
    margin-right: 20px;
  }
  #radio-account-types {
    label {
      display:inline-block;
      background-color: $silver;
      margin-bottom: 10px;
      padding: 4px 11px;
      font-family: Arial;
      font-size: 16px;
      @include rounded_border;
    }
    input[type="radio"]:checked + label {
      color: $gold;
      text-shadow: none;
      background-color: darken($silver, 50%);
      @include rounded_border;
    }
  }
}

/* users/show */

#users_show {
  h2 {
    margin-top: -10px;
    display: inline;
  }
  h3 {
    color: $silver;
    margin-bottom: 10px;
  }
}

/* layouts/header */

header {
	.navbar-inner {
		background: $header_background;
		height: 80px;
		max-height: 80px;
		box-shadow: none;
		border-radius:0px;
		.breadcrumbs {
		  height: 40px;
		  h1 {
		    color: white;
		    font-size: 1.8em;
		    display: inline;
		    float: right;
		    padding-top: 4px;
		  }
		}
		ul {
			li.on {
				background: $header_background;
				a {
					color: $darkergrey;
				}
			}
		}
	}
}

.dropdown-menu {
  background: white;
  li a {
    &:hover {
      background: lighten($blue, 20%);
      color: black;
    }
    i {
      margin-bottom: 3px;
      margin-right: 5px;
    } 
  }
}

.navbar .nav > li > a {
  text-decoration: none;
  text-shadow: none;
  color: $blue;
  b.caret {
    border-top-color: $gold !important;
    border-bottom-color: $gold !important;
  }
  &:hover {
    color: white;
  }
}

/* shared/error_messages */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }