<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Bitbio</title>
		<link href='http://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
		<style type="text/css">
			body {
			  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: #183469;
				font-size: 1.1em;
			  line-height: 1.3em;
			}
			table {
				border-spacing: 0;
				width: 100%;
			}
			.signature {
			  color: #868686;
			}
			.outer-table {
				background: #EBEBEB;
				padding: 30px 50px 50px 50px;
			}
			.inner-table {
				text-align: left;
				background: white;
				margin: 5px 0 0 0;
				padding: 10px;
				-webkit-border-radius: 5px;
			    -moz-border-radius: 5px;
			         border-radius: 5px;
			}
			#logo {
			  height: 40px;
        font-size: 1.5em;
        line-height: 1em;
        text-decoration: none;
        color: black;
        font-family: 'Londrina Shadow';
			}
			.bluegrey {
			  color: #6681b3;
			}
			.pull-right {
				float: right;
			}
			.summary {
				padding: 10px;
				background: #6681b3;
				color: white;
			}
			.bottom-summary {
				padding: 4px;
				background: #6681b3;
			}
			.date {
				font-size: 0.9em;
			}
			.footer {
				font-size: 0.9em;
				padding-left: 10px;
				padding-top: 10px;
			}
			hr {
			border: none;
			border-top: solid 5px #183469;
			color: #ffffff;
			background-color: #ffffff;
			}
		</style>
	</head>
	<body>
		
		<table class="outer-table">
			<tr>
				<td style="padding-bottom:10px; font-size: 30px;">
					<%= link_to "<i class='icon-beaker'></i>Bitbio".html_safe, root_url, id: 'logo' %>
				</td>
			</tr>
			<tr>
				<td class="date">
					<%= Date.today.strftime("%B %e, %Y") %>
				</td>
			</tr>
			<tr>
				<td>
					<table class="inner-table">
            <%= yield %>
						<tr>
							<td class="signature" style="padding-top:30px">
								Kind Regards,
							</td>
						</tr>
						<tr>
							<td class="signature" style="padding-top:20px">
								The Bitbio Team
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="footer">
					What is <%= link_to 'Bitbio', root_url %>:
				</td>
			</tr>
			<tr>
				<td class="footer">
					An online science community and market to exchange science, collaborate on research, and discover new methods or techniques.
				</td>
			</tr>
			<tr>
				<td class="footer" style="font-size:70%;">
					This email was sent from Bitbio.
					Please direct any inquiries to
					<a href="mailto:info@bitbio.org?" title="info@bitbio.org">info@bitbio.org</a>.
				</td>
			</tr>
		</table>
	</body>
</html>